.profile-page {
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  min-height: calc(100vh - 65px); /* Ensures content fills the screen and footer is always at bottom */
  display: flex;
  flex-direction: column;
  font-family: 'Pretendard', sans-serif;
}

.profile-header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e6e6e6;
  display: block;
  background-image: url("https://via.placeholder.com/50");
  background-size: cover
  background-position: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-username {
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.profile-section {
  margin-top: 25px;
  flex-grow: 1; /* Pushes footer to bottom */
  
}

.profile-section-2 {
  flex-grow: 1; /* Pushes footer to bottom */

}

.profile-section-title {
  font-size: 16px;
  font-weight: bold;
  color: #909090;
}

.profile-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px !important;
}

.profile-list li {
  padding: 16px 0;
}

.profile-link {
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
}

.profile-link:hover {
  color: gray;
}

/* Ensure footer is always at the bottom */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.profile-page-title {
  margin-top: 30px;
  font-size: 22px;
  margin-bottom: 20px;
}