{% extends 'base.html' %}
{% load static %}
{% block content %}

<header class="analysis-header">
  <button class="header-left-back-button"
      onclick="history.back()"
      style="background-image: url('{% static 'images/back.svg' %}');"></button>
    <h1>Company</h1>
</header>
<div class="individual-influencer-container">  
    <div class="influencer-info">
        <img src="{% static 'images/elon.svg' %}" alt="influencer" class="influencer-image">
        <div class="influencer-details">
            <div class="name-badge">
                <span class="influencer-name">Elon Musk</span>
                <img src="{% static 'images/Verified_Badge.svg' %}" alt="Verified" class="Verified_Badge">
            </div>
            <span class="influencer-position">CEO of Tesla, SpaceX, and X</span>
            <div class="company-btn-group">
                <button class="company-btn" data-company="aapl">tesla</button>
                <button class="company-btn" data-company="djt">nvda</button>
                <button class="company-btn" data-company="tsla">meta</button>
            </div>
        </div>
    </div>
</div>
<div class="recent_posts">
    <h1>Recent Posts</h1>
    <!--boxes-->
    <div class="recent-posts-container">
        <div class="recent-post">
            <div class="recent-post-image">
                <img src="{% static 'images/trump.svg' %}" alt="influencer" class="recent-image">
            </div>
            <div class="recent-post-details">
                <div class="name-badge">
                    <span class="influencer-name">Donald J. Trump</span>
                    <img src="{% static 'images/Verified_Badge.svg' %}" alt="Verified" class="Verified_Badge">
                </div>
                <div class="influencer-description">
                    “Based on the tremendous cost and cost overruns of the Lockheed Martin F-35, 
                    I have asked Boeing to price-out a comparable F-18 Super Hornet!”
                </div>
            </div>
        </div>
    </div> 
    <!--boxes-->
    <div class="recent-posts-container">
        <div class="recent-post">
            <div class="recent-post-image">
                <img src="{% static 'images/trump.svg' %}" alt="influencer" class="recent-image">
            </div>
            <div class="recent-post-details">
                <div class="name-badge">
                    <span class="influencer-name">Donald J. Trump</span>
                    <img src="{% static 'images/Verified_Badge.svg' %}" alt="Verified" class="Verified_Badge">
                </div>
                <div class="influencer-description">
                    “Based on the tremendous cost and cost overruns of the Lockheed Martin F-35, 
                    I have asked Boeing to price-out a comparable F-18 Super Hornet!”
                </div>
            </div>
        </div>
    </div> 
    <!--boxes-->
    <div class="recent-posts-container">
        <div class="recent-post">
            <div class="recent-post-image">
                <img src="{% static 'images/trump.svg' %}" alt="influencer" class="recent-image">
            </div>
            <div class="recent-post-details">
                <div class="name-badge">
                    <span class="influencer-name">Donald J. Trump</span>
                    <img src="{% static 'images/Verified_Badge.svg' %}" alt="Verified" class="Verified_Badge">
                </div>
                <div class="influencer-description">
                    “Based on the tremendous cost and cost overruns of the Lockheed Martin F-35, 
                    I have asked Boeing to price-out a comparable F-18 Super Hornet!”
                </div>
            </div>
        </div>
    </div> 
</div> 

    {% endblock %}