{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="profile-page">
    <h1 class="profile-page-title">My Page</h1>
    <div class="profile-header">
        <img src="{% static 'images/ai-pfp.svg' %}" alt="Profile Picture" class="profile-image">
        <div class="profile-info">
            <span class="profile-username">Username</span>
        </div>
    </div>

    <div class="profile-section">
        <h2 class="profile-section-title">Account</h2>
        <ul class="profile-list">
            <li><a href="#" class="profile-link" onclick="showModal()">Log Out</a></li>
            <li><a href="#" class="profile-link" onclick="showModal()">Ask Question</a></li>
            <li><a href="#" class="profile-link" onclick="showModal()">Report</a></li>
        </ul>
    </div>

    <div class="profile-section-2">
        <h2 class="profile-section-title">Help and Support</h2>
        <ul class="profile-list">
            <li><a href="#" class="profile-link" onclick="showModal()">Help</a></li>
            <li><a href="#" class="profile-link" onclick="showModal()">Contact Us</a></li>
        </ul>
    </div>
</main>

<footer class="footer"<span style = "position: fixed">
    <ul class="footer-list">
        <li class="footer-list-item">
                <a href="{% url 'likelion:index' %}" class="footer-list-item-link">
                <span class="footer-list-item-content">
                    <img src="/static/images/dashboard.svg" alt="Dashboard">
                </span>
            </a>
        </li>
        <li class="footer-list-item">
            <a href="{% url 'likelion:my-list' %}" class="footer-list-item-link">
                <span class="footer-list-item-content">
                    <img src="/static/images/my-list.svg" alt="my-list">
                </span>
            </a>
        </li>
        <li class="footer-list-item">
            <a 
                href="{% url 'likelion:my-profile' %}" 
                class="footer-list-item-link 
                  {% if request.resolver_match.url_name == 'my-profile' %}active{% endif %}"
              >
                <span class="footer-list-item-content">
                  <img src="{% static 'images/my-profile.svg' %}" alt="my-profile">
                </span>
              </a>
    </li>
</footer>
<script>
  function showModal() {
    alert("This feature is under construction. Please check back later!");
  }
</script>
{% endblock %}
