{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="analysis-header">
  <button class="header-left-back-button"
      onclick="history.back()"
      style="background-image: url('{% static 'images/back.svg' %}');"></button>
    <h1>Influencer</h1>
</header>

<div class="individual-influencer-container">  
    <div class="influencer-info">
        <img src="{{ person.profile_image_url }}" alt="{{ person.name }}" class="influencer-image">
        <div class="influencer-details">
            <div class="name-badge">
                <span class="influencer-name">{{ person.name }}</span>
                {% if person.verified %}
                <img src="{% static 'images/Verified_Badge.svg' %}" alt="Verified" class="Verified_Badge">
                {% endif %}
            </div>
            <span class="influencer-position">{{ person.description }}</span>
            <div class="company-btn-group">
                {% for company in person.companies.all %}
                <button class="company-btn">{{company.ticker}}</button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!--recent posts-->
<div class="recent_posts">
    <h1>Recent Posts</h1>
    <div class="recent-posts-container">
        {% for post in person.posts %}
        <div class="recent-post">
            <div class="recent-post-image">
                <img src="{% static 'images/' %}{{ post.image|default:person.image }}" alt="influencer" class="recent-image">
            </div>
            <div class="recent-post-details">
                <div class="recent-name-badge">
                    <div class="recent-name">{{ person.name }}</div>
                    {% if person.verified %}
                    <img src="{% static 'images/Verified_Badge.svg' %}" alt="Verified" class="Verified_Badge-1">
                    {% endif %}
                </div>
                <div class="recent-description">
                    <span>{{ post.content }}</span>
                    <div class="next">></div>
                </div>
                <div class = "last-row"">
                    {% if post.company %}
                    <button class="company-btn-2" data-company="{{ post.company.ticker }}">
                        {{ post.company.name }}
                    </button>
                    {% endif %}

                    <div class="stock-change">
                        {% if post.stock_change %}
                            {% with stock_change=post.stock_change|default:"0"|floatformat:2 %}
                                {% if stock_change > 0 %}
                                    <img src="{% static 'images/increase.svg' %}" alt="Stock Up" class="stock-icon">
                                    <span class="stock-change-text stock-increase">{{ stock_change }}%</span>
                                {% elif stock_change < 0 %}
                                    <img src="{% static 'images/decrease.svg' %}" alt="Stock Down" class="stock-icon">
                                    <span class="stock-change-text stock-decrease">{{ stock_change }}%</span>
                                {% else %}
                                    <p>No stock change</p>
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            <span class="stock-change-text">No Data</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} 
    </div> 
</div> 

{% endblock %}
