{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="analysis-header">
  <button class="header-left-back-button"
      onclick="history.back()"
      style="background-image: url('{% static 'images/back.svg' %}');"></button>
    <h1>Influencer</h1>
</header>

<div class="individual-influencer-container">  
    <div class="influencer-info">
        <img src="{{ person.profile_image_url }}" alt="{{ person.name }}" class="influencer-image">
        <div class="influencer-details">
            <div class="name-badge">
                <span class="influencer-name">{{ person.name }}</span>
                {% if person.verified %}
                <img src="{% static 'images/Verified_Badge.svg' %}" alt="Verified" class="Verified_Badge">
                {% endif %}
            </div>
            <span class="influencer-position">{{ person.description }}</span>
            <div class="company-btn-group">
                {% for company in person.companies.all %}
                <button class="company-btn">{{company.ticker}}</button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!--recent posts-->
<div class="recent_posts">
    <h1>Recent Posts</h1>

    <!-- Display Tweets -->
    {% if ai_analysiss %}
    <div class="card-container" style="width: 100%;">
      {% for analysis in ai_analysiss %}
      <div class="card" onclick="window.location.href='/ai-analysis/?id={{analysis.id}}'"">
        <div class="image-container">
          <img src="{{analysis.tweet.author.profile_image_url}}" alt="trender" class="logo">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ analysis.tweet.author.name }}
            <img src="{% static 'images/Verified_Badge.svg' %}" alt="badge" class="badge">
          </h5>
          <p class="search-result-post-description">"{{ analysis.tweet.content }}"</p>
          <div class="company-btn-group-search-result">
            <button class="company-btn">{{analysis.company.ticker}}</button>
          </div>
        </div>
      </div>
      {% empty %}
      <p>No tweets found.</p>
      {% endfor %}
    </div>
    {% endif %}
</div> 

{% endblock %}